page-home {
  
    p{
            color:black;
            text-align: center;
        }
    
        
        h1{

        color:#1FBEBD;
       }
    #search-icon{
        font-size: 25px;
    }
ion-card-header{
  
    color:#1FBEBD;  

}

}


