page-search {

    background-color:#1FBEBD;

 }
.searchbar-md .searchbar-input{
    
    height: 30px;
    border-radius: 10px;


}
.searchbar-md .searchbar-search-icon{
    top: 0;
    margin-left: -10px;
    margin-top: 2px;

}

img   {

height:40px 


}

 .item p {

    display: inline-block;
    
    font-size:33px;


    }

 .Arrow {
     
  float: right;   

}




 .searchbar-search-icon {

       
  background: url(assets/img/search.png);



}

 .star {

float: right; 


}

#searchTitle {

    float:left;
  font-size:70px;


}
