
.blue
{color:#1FBEBD 

}



.green{
color:#1FBEBD        
}



.brown{
color:#1FBEBD
}



.white{
color:#1FBEBD
}

.banner{
width: 100%;
height: 70%;
}

h1{
text-align: center;
color:#1FBEBD
}

h1{
border-bottom:1px solid#1FBEBD;

}



.blue
{
border-bottom:1px solid#1FBEBD;
}

.red
{
border-bottom:1px solid#1FBEBD;
}

.green
{
border-bottom:1px solid#1FBEBD;
}

.yellow
{
border-bottom:1px solid#1FBEBD;
}

.brown
{
border-bottom:1px solid#1FBEBD;
}

.black
{
border-bottom:1px solid#1FBEBD;
}

.white
{
border-bottom:1px solid#1FBEBD;
}

.grey
{
border-bottom:1px solid#1FBEBD;
}

.white-star-outline{

float:right;

}

img-src{
height:25%;
width:50%

}

